.modal.fade#signupModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=> "button", "data-dismiss" => "modal", "aria-hidden" =>"true"} &times;
        %h4.modal-title Sign Up
        .modal-body
        .modal-footer
          %a.btn{"data-dismiss" => "modal", href: "#"} Close
          %a.btn.btn-primary{href: "#"} Sign Up