.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/', :style=>"padding: 0px 20px 0px"} 
        %img{:src=>'/images/logo-invsmsq.jpg'}
        Fish Tornado DM Tools
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/'}Home
          %li
            %a{:href => '/'}About
          %li
            %a{:href => '/'}Contact
          %li
            %a#jsdice-show{:href => '#', :style=>"padding: 0px 20px 0px"}
              %img{:alt=>"2d6", :src=>"/images/dice.png"}
        %ul.nav.pull-right
          -if current_user
            #li
              %p.navbar-text Hello, #{current_user.name}! <a href='/sign_out/'>Log Out</a>
          -else
            %li
              %a.pull-right{:href => '/sign_up/'}Sign Up
            %li.dropdown#menu1
              %a.pull-right.dropdown-toggle{"data-toggle"=>"dropdown", :href=>"#menu1"}
                Login
                %b.caret
              .dropdown-menu{:style=>"padding: 15px; padding-bottom: 0px;"}
                %form{"accept-charset"=>"UTF-8", :action=>"/auth/identity/callback", :method=>"post"}
                  %input{:id=>"auth_key", :style=>"margin-bottom: 15px", :type=>"text", :placeholder=>"Email", :size=>30, :name=>"auth_key"}
                  %input{:id=>"password", :style=>"margin-bottom: 15px", :type=>"password", :placeholder=>"Password", :size=>30, :name=>"password"}
                  %input.btn.btn-primary.btn-block{:name=>"commit", :type=>"submit", :value=>"Log In"}
                  %a.btn.btn-success.btn-block{:href=>"/auth/google_oauth2" }Google Log In

