<table class="smalltable feats" style="left:<%= left%>px; top:<%= top%>px; width:<%= width%>px;">
<tr id="label"><td>Feats</td></tr>
<% @character.feats.collect{|feat| feat.to_s}.sort.each do |feat| %>
<tr id="value"><td><%= feat.to_s %></td></tr>
<% end %>
</table>